body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #cf644a;
}

.navbar-brand, .nav-link {
    color: rgb(159, 248, 124) !important;
}

.nav-link.active {
    font-weight: bold;
}

main {
    padding: 20px 0;
}

.section-1, .section-2, .section-3 {
    padding: 60px 0;
    text-align: center;
}

.section-1 {
    background-color: #62ff7d;
}

.section-2 {
    background-color: #57ff73;
}

.section-3 {
    background-color: #99fc72;
}

footer {
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #f8f9fa; /* Ejemplo de color de fondo */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Asegura que ocupe todo el ancho */
    position: fixed; /* Fija el footer al fondo */
    bottom: 0; /* Lo coloca en la parte inferior */
}

.social-icon {
    color: white;
    text-decoration: none;
}

.social-icon:hover {
    text-decoration: underline;
}
